
<h1>About</h1>

<p>Site source available on <a href="https://github.com/nunorc/y-space-se">GitHub</a>.</p>


<h2>Acknowledgments</h2>

<ul>
  <li>...</li>
  <li>...</li>
</ul>

<h2>Credits</h2>
<ul>
  <li>Photos by: <a href="https://unsplash.com/@spacex">SpaceX</a>,
    <a href="https://unsplash.com/@nasa">NASA</a>,
  and <a href="https://unsplash.com/@meric">Meriç Dağlı</a>
  on <a href="https://unsplash.com">Unsplash</a>.</li>
  <li>Vudotronic font by <a href="https://chequered.ink/">Chequered Ink</a></li>
</ul>
