<ul class="slideshow">
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
</ul>

<div class="container-fluid m-0 p-0 min-vh-100" style="z-index: 10;">
  {% include 'templates/nav.html' %}

  <div class="container-fluid text-center text-white py-3 shadow" style="background-color: #212529b8!important; border-bottom: 1px solid #ffb300; margin-top: 56px;">
    <h1 class="pt-2 font-vudotronic" style="font-size: 3rem;">Y-Space</h1>
    <p class="lead pt-2 fw-lighter">A collection of notes and resources on space systems engineering, mission design, data science and more.</p>
  </div>

  <div class="container-fluid">

      <div class="row row-cols-1 row-cols-md-3 justify-content-center mt-5">
        <div class="col mb-4">

          <div class="mycard">
            <div class="card shadow" style="background-color: #212529b8!important;">
              <div class="card-body">
                <p class="lead card-text fw-lighter text-center">Under development, contributions are welcome!</p>
              </div>
            </div>
          </div>

        </div>
      </div>

  </div>
</div>
