<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top shadow-sm">
  <div class="container">
    {% if page %}
      <a href="../index.html" class="navbar-brand">Y-Space SE</a>
    {% else %}
      <a href="./index.html" class="navbar-brand">Y-Space SE</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/orgs/y-space"><i class="fab fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
