
#App-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}

h3 {
  font-weight: 350;
}

a {
  color: #8a8a8a;
}

a:hover {
  color: #29abe2;
}

#App-logo {
  height: 32px;
  width: 24px;
}

#App-main {
  /*min-height: 100%;
  padding: 0;
  margin: auto;*/
}

footer {
  border-top: 1px solid #eaecef;
/*  margin-top: 12px;
  padding: 22px 0px;*/
  background-color: #f5f5f5;
}

.App-c1 {
  color: #FF9800;
  border-bottom: 2px solid #FF9800;
}

.App-c3 {
  color: #2196F3;
  border-bottom: 2px solid #2196F3;
}
